@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/* VARIABLES */
:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/* RESET STYLE */

* *::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* GENERAL STYLES */

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.12;
  background-color: var(--light-grayish-blue);
}

/* LAYOUT CARD AND CARD CONTENT*/

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  max-width: 45.625rem;
  border-radius: 10px;

  display: flex;
  position: relative;
}

.card__content {
  padding: 2rem 2.5rem;
}

.card__img {
  max-width: 17.8125rem;
}

.card__img img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  object-fit: cover;
  /*use object-fit with height!*/
}

.card__header {
  margin-bottom: 0.75rem;
}

.card__text {
  margin-bottom: 1.25rem;
}

/* TYPOGRAPHY */
.card__header {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.25px;
}
.card__header,
.user__name {
  color: var(--dark-grayish-blue);
  font-weight: 700;
}
.card__text,
.date {
  color: var(--dark-blue);
}

/* USER */
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user__img {
  width: 2.5rem;
  height: 2.5rem;
}

.user__img img {
  border-radius: 50%;
}

/* SHARE SECTION */

.share:link,
.share:visited {
  background-color: var(--light-grayish-blue);
  padding: 0.625rem;
  border-radius: 50%;
}

.share:hover,
.sare:active {
  background-color: var(--dark-grayish-blue);
}

.share:hover path {
  fill: #fff;
}

.share__hidden {
  /* display: none; */
  position: absolute;
  top: 45%;
  left: 75%;
}

.share__hidden {
  background-color: var(--dark-grayish-blue);

  display: flex;
  gap: 1.3125rem;
  padding: 1.0625rem 2.3125rem;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
  border-radius: 10px;
  position: relative;
}

.share__hidden::after {
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--dark-grayish-blue);
  transform: rotate(0.13turn);
  position: absolute;
  bottom: -12%;
  left: 45%;
}

.share__text {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.25rem;
}

.share__icons {
  display: flex;
  gap: 1rem;
}
